@charset "utf-8";
/* CSS Document */

/*除边栏顶栏外,全部其他链接的样式*/
.link {  
    /* background: rgb(111, 111, 111);   */
    border: 2px solid #111;
    border-radius: 4px;     
    /* 圆角 */
    border-spacing: 0;  
    box-shadow: 2px 2px 5px rgb(17, 17, 17);  
    padding: 2px 2px 2px 2px;
    /* 内边距：上右下左 */
    vertical-align: baseline;  
}  
  
.main a {
    background: #111;
    font-size: 20px;
    font-weight:777;
    color: #818181;
    transition: 0.3s; 
    text-decoration:none;
}  
  
.main a:hover {

    color:#f1f1f1;
    text-decoration: underline;  
}  











.div_homepage {
    width: 50%;
    margin: 0 auto;
}


.div_preferences{
    width: 60%;
    margin: 0 auto;
    /* div本身相对上级元素居中 */
}

.div_login{
    width: 60%;
    margin: 0 auto;
    /* div本身相对上级元素居中 */
}


/* .div_contacts {
    width: 100%;
    margin: 0 auto;
    text-align:center
    div中的文字居中
} */
/* .div2 {
    width: 360px;
    margin: 0 auto;
} */

table,
        tr,
        td,
        th {
            padding: 0;
            /* 内边距 */
            margin: 0;
            /* 外边距 */

            border: 1px solid rgb(0, 0, 0);
            border-collapse: collapse;
            /* border-collapse : separate | collapse
            separate  :　 默认值。边框独立（标准HTML）
            collapse  :　 相邻边被合并 */
            border-spacing: 1;
        }

        table.staffinfo {
            margin:0 auto;
            /* width: 100%;
            border-color: rgb(0, 0, 0); */
        }

        table.staffinfo tr {
            line-height: 30px;
            /* border-color: rgb(0, 0, 0); */
        }

        table.staffinfo th,
        table.staffinfo td {
            text-align: center;
            /* border-color: rgb(0, 0, 0); */
        }

        /* 奇数行背景色 */
        table.staffinfo tr:nth-child(odd) {
            background: rgb(192, 248, 250);
        }

        /* 偶数行背景色 */
        table.staffinfo tr:nth-child(even) {
            background: rgb(130, 119, 230);
        }