@charset "utf-8";
/* CSS Document */
 
body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}
 
/*侧栏*/
.sidenav {
    height: 100%;
    width: 0; /*原始宽度*/
    position: fixed;
    /*z-index、top、left共同控制侧栏的悬浮（上方1，下方-1）*/
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s; /*侧栏延迟0.5s显示*/
    padding-top: 60px;
}

/*侧栏二级菜单*/
.sub_menu {
    /* padding: 8px 8px 8px 32px; */
    padding: 1px 32px 1px 1px;
    /* 内边距：上右下左 */
    text-decoration: none;
    font-size: 18px;
    text-align: right;
    color: #818181;
    display: block;
    transition: 0.3s; /*标签延迟0.3s显示*/
}
/*侧栏一级菜单和关闭按钮*/
.menu, .closebtn{
    /* padding: 8px 8px 8px 32px; */
    padding: 4px 32px 4px 4px;
    text-decoration: none;
    font-size: 30px;
    text-align: right;
    color: #818181;
    display: block;
    transition: 0.3s; /*标签延迟0.3s显示*/
}
/*侧栏一级菜单、二级菜单和关闭按钮鼠标悬浮的效果*/
.sidenav a:hover {
    color: #f1f1f1;
}



/*侧栏和关闭按钮的位置选择器*/
.sidenav .closebtn {
    position: absolute;
    top: 0;
    /* right: 25px; */
    right: 0px;
    font-size: 36px;
    color:rgb(109, 3, 3);
    margin-left: 50px;
}
/* 侧栏水平分割线样式 */
.sidehr{
    border-style:dashed #f1f1f1;
    /* border:opx; */
    /* color:#f1f1f1; */
}


/*顶栏“打开菜单”按钮样式*/
.openNav {
    text-decoration: none;
    color: #000000;
    font-size:28px;
    cursor:pointer;
    transition: 0.3s; 
    top: 5px;
    padding: 0px 0px 0px 0px;
}
.openNav:hover{
    color:rgb(115, 255, 0);
}

/*顶栏“用户信息”超链样式*/
.userinfo {
    text-decoration: none;
    color: #000000;
    font-size:30px;
    cursor:pointer;
    position:absolute;
    top: 5px;
    right: 15px;
    transition: 0.3s; 
    padding: 0px 0px 0px 0px;
}
.userinfo:hover{
    color:rgb(115, 255, 0);
}

/* 这是一个顶栏的一个span，输出程序执行结果*/
.processResultMessage
{
    font-size:25px;
    font-weight:900;
    color:rgb(200, 0, 0);
}

/*主体内容*/
#main #topbar {
    transition: margin-left .5s;/*主体内容延迟0.5s整体y右移动*/
    /* padding: 16px; */
}
 



